.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.App-content {
  flex-direction: column;
  color: white;
}

a {
  color: #61dafb;
}

.article {
  color: white;
  margin-top: 20px;
}

.article img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  text-align: left;
}

.article .media-body {
  text-align: left;
}

.article p {
  margin-bottom: 5px;
}
